body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
}

.container {
    margin-left: 250px;
    width: calc(100% - 250px);
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.profile-photo {
    width: 250px; /* Adjust the width as desired */
    height: 250px; /* Adjust the height as desired */
    border-radius: 50%;
    margin: 0 auto 20px;
    background-color: #ddd;
    background-image: url('/profile_pic.jpg');
    background-size: contain;
    background-position: center;
    overflow: hidden; /* Add this line to hide the image outside the border radius */
}

.contact-info {
    text-align: center;
}

.contact-info h1, .contact-info p {
    margin: 0;
    padding: 10px 0;
}

.section {
    margin-top: 20px;
}

.section h2 {
    background-color: #666;
    color: #fff;
    padding: 5px 10px;
}

.content {
    padding: 10px;
}
